#title h1 {
    text-align: center;
    font-weight: bold; 

}

#title p {
    border-radius: 3px;
    color: white;
    background-color: grey;
    padding: 10px 15px;          /* Espaciado dentro de la caja */
    border-radius: 8px;
    box-shadow: 0 0 10px white; 
      
}

#title2 h2{
    font-weight: bold;
}

#title2 p {
    border-radius: 3px;
    color: white;
    background-color: grey;
    padding: 10px 15px;          /* Espaciado dentro de la caja */
    border-radius: 8px; 
    box-shadow: 0 0 10px white; 
}

#title3 h2 {
    font-weight: bold;
}

#title3 p {
    border-radius: 3px;
    color: white;
    background-color: grey;
    padding: 10px 15px;          /* Espaciado dentro de la caja */
    border-radius: 8px; 
    box-shadow: 0 0 10px white;
    font-style: italic; 
}

#title4 h2 {
    font-weight: bold;
}

#title4 p {
    border-radius: 3px;
    color: white;
    background-color: grey;
    padding: 10px 15px;          /* Espaciado dentro de la caja */
    border-radius: 8px; 
    box-shadow: 0 0 10px white; 
}

.imagen-fondo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/62/CSS3_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border: 2px solid white;
    margin: 30px 0;
    border-left: 4px dashed #00ffe7;
    border-right: 4px dashed #00ffe7;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
  }

.imagen {
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
    overflow: hidden;
}

body {
      background-color: black;
      color: white;
      font-family: 'Orbitron', sans-serif;
      padding: 40px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #00ffe7;
        text-shadow: 0 0 8px #00ffe7;
      }

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: #1a1a1a;
      box-shadow: 0 0 10px #00ffe7; /*Color del contorno*/
      border-radius: 8px;
      overflow: hidden;
    }

    th, td {
      border: 1px solid #333;
      padding: 15px;
      text-align: left;
    }

    th {
      background-color: #00ffe7;        /*Letra tabla*/
      color: black;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #262626;
    }

    tr:hover {
      background-color: #333;
    }

    footer {
        text-align: center;
        color: white; 
        padding: 50px;
        font: italic bold 16px 'Orbitron', sans-serif;
    }

